/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

.social-share-button {
  text-align: right;

}
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

.footerLinks {
   text-align: center;
}
.footerLinks ul {
	padding: 0;
    list-style-type: none;
    margin: 0;
}
.footerLinks li {
	display: inline;
}
.footerLinks a {
	color: #d9d9d9;
	text-decoration: none;
	font-size: 16px;
}

#footer {
  padding-top: 0;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}

footer {
  background-color: #343a40;
  color: #818182;
  height: %50;
}

* {
    font-family: 'Lato', sans-serif;
}

.container {
    padding-top: 100px;
    padding-bottom: 50px;
}

.container a i {
    color: black;
}

.container img {
    max-height: 500px;
}

.container h1 {
    font-size: 30px;
}

.container .post-preview {
    height: 350px;
    margin-bottom: 40px;
}

.container .post-preview img {
    max-height: 200px;
}

.container .post-preview h1 {
    font-size: 22px;
}

.container .post-controls {
    margin-top: 25px;
}

.container .nav-controls {
    margin-top: 50px;
}

.container textarea {
    min-height: 180px;
}

.container .comment-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container .comment-list .comment-author {
    font-weight: bold;
}
